---
layout: default
---

<div class="home">

  <img class="fit" src="/computer-cats.jpg" />
  <small>
    <div class="right-align pr1 full-width">
      Photo credit:
      <a href="http://openphoto.net/gallery/image/view/27229">
        Michael Jastremski
      </a>
    </div>
  </small>

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <p class="post-summary">{% if post.summary %}{{ post.summary }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
