---
layout: default
---

<div class="home">

  <img class="fit" src="/computer-cats.jpg" />
  <small>
    <div class="right-align pr1 full-width">
      Photo credit:
      <a href="http://openphoto.net/gallery/image/view/27229">
        Michael Jastremski
      </a>
    </div>
  </small>

  <div>
    <h3 class="h2">Current news</h3>
    <p>I'm giving a <a href="http://www.netways.de/index.php?id=4987">talk</a> at Puppet Camp Berlin 2015.
    At the time of writing this, it does not seem to be sold out yet.
    Highly recommended, last year's Camp was a very good time. It's happening at one of the greatest places in Europe
    (or so I hear) and the venue is quite beautiful. Hope to see you there!</p>
    <p><img src="https://cloud.githubusercontent.com/assets/436765/6791328/69f72b08-d1ae-11e4-8838-f82acd99aedf.png"/></p>
  </div>

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <p class="post-summary">{% if post.summary %}{{ post.summary }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
