---
layout: default
---

<div class="home">

  <img class="fit" src="/computer-cats.jpg" />
  <small>
    <div class="right-align pr1 full-width">
      Photo credit:
      <a href="http://openphoto.net/gallery/image/view/27229">
        Michael Jastremski
      </a>
    </div>
  </small>

  <div>
    <h3 class="h2">Current news</h3>
    <p>I'm giving a <a href="https://www.netways.de/index.php?id=2573&L=1">talk</a> at the Open Source Data Conference 2016.
    At the time of writing this, it does not seem to be sold out yet.
    It's happening at one of the greatest places in Europe
    (or so I hear) and the venue is quite beautiful. Hope to see you there!</p>
    <p><img src="https://www.netways.de/fileadmin/images/Events_Trainings/Events/OSDC/2016/osdc_logo_2016_200x81.png"/></p>
  </div>

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <p class="post-summary">{% if post.summary %}{{ post.summary }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
